<div class="col-md-12">

    <h2><%= @post.title %></h2>
    <p><%= @post.description %></p>

    <table class="table">
       <thead>
        <tr>
           <th>文章内容</th>
        </tr>
       </thead>

       <tbody>

           <tr>
              <td><%= @post.title%></td>
           </tr>

       </tbody>
    </table>
</div>
